In [1]:
class test:
    pass

In [2]:
a = test()
type(a)

__main__.test

In [3]:
class pwskills:
    
    def welcome_msg(self):
        print("Welcome to pwskills")

In [4]:
nirmala = pwskills()
print(type(nirmala))
nirmala.welcome_msg()

<class '__main__.pwskills'>
Welcome to pwskills

In [5]:
riya = pwskills()
riya.welcome_msg()

Welcome to pwskills

In [6]:
class pwskills1:
    def __init__(self,phone_number,email_id,student_id):
        self.phone_number = phone_number
        self.email_id = email_id
        self.student_id = student_id
        
    def return_student_details(self): 
        return self.phone_number ,self.email_id,self.student_id

In [7]:
nilu = pwskills1(12345,'nfhu@gmail.com',78)

In [8]:
nil = pwskills1()

TypeError: pwskills1.__init__() missing 3 required positional arguments: 'phone_number', 'email_id', and 'student_id'

In [ ]:
nilu.return_student_details()

In [9]:
priya = pwskills1(99,"dgf@gmail.com",698)
priya.return_student_details()

(99, 'dgf@gmail.com', 698)

In [10]:
class pwskills2:
    def __init__(self,phone_number,email_id,student_id):
        self.phone_number1 = phone_number
        self.email_id1 = email_id
        self.student_id1 = student_id
        
    def return_student_details(self): 
        return self.phone_number1 ,self.email_id1,self.student_id1

In [11]:
piya  = pwskills2(56799,"dgf@gmail.com",6908)

In [12]:
piya.phone_number()

AttributeError: 'pwskills2' object has no attribute 'phone_number'

In [13]:
piya.phone_number1

56799

In [14]:
piya.return_student_details()

(56799, 'dgf@gmail.com', 6908)

In [15]:
class pwskills3:
    def __init__(ni,phone_number,email_id,student_id):
        ni.phone_number1 = phone_number
        ni.email_id1 = email_id
        ni.student_id1 = student_id
        
    def return_student_details(ni): 
        return ni.phone_number1 ,ni.email_id1,ni.student_id1

In [16]:
paw =pwskills3 (58768777659,"dfryguhy",2548)

In [17]:
paw. return_student_details()

(58768777659, 'dfryguhy', 2548)

In [18]:
def test1(a,b):
    return a+b
print(test1(4,5))
print(test1("hg","iuy"))
print(test1([678,56],[90,5,7]))

9
hgiuy
[678, 56, 90, 5, 7]

In [19]:
class datascience:
    def syllabus(self):
        print("this is my syllabus for DS")

In [20]:
class web_dev:
    def syllabus(self):
        print("this is my syllabus for web_dev")

In [21]:
def class_perform(class_obj):
    for i in class_obj:
        i.syllabus()

In [22]:
ds = datascience()
wb = web_dev()

In [23]:
class_obj = [wb,ds]
class_perform(class_obj)

this is my syllabus for web_dev
this is my syllabus for DS

In [24]:
class test3:
    def __init__(self,a,b):
        self.a = a
        self.b = b

In [25]:
t = test3(23,7)

In [26]:
class  car:
    def __init__(self,year,make,model,speed):
        self.__year = year
        self.__make = make
        self.__model = model
        self.__speed = 0
    def return_car(self):
        return self.__year,self.__make, self.__model,self.__speed
    def set_speed(self,speed):
        self.__speed = 0 if speed<0 else speed
    def get_speed (self):
        return self.__speed

In [27]:
c = car(2022,"toyota","innova",67)

In [28]:
c.year

AttributeError: 'car' object has no attribute 'year'

In [29]:
c.__year

AttributeError: 'car' object has no attribute '__year'

In [30]:
c._car__year

2022

In [31]:
c.set_speed(34)

In [32]:
c.get_speed()

34

In [33]:
class bank_account:
    def __init__(self,name,bank_name,account_no,balance):
        self.__name = name
        self.__bank_name = bank_name
        self.__account_no = account_no
        self.__balance = balance
    def check_balance(self):
        return self.__balance
    def deposit(self,amount):
        self.__balance = self.__balance + amount
    def withdrawl(self,amount):
        if amount<self.__balance:
            self.__balance = self.__balance - amount
            return True
        else:
            return False

In [34]:
Nirmala = bank_account("Nirmala","SBI",234556,23000)

In [35]:
Nirmala.check_balance()

23000

In [36]:
Nirmala.deposit(2000)

In [37]:
Nirmala.check_balance()

25000

In [38]:
Nirmala.withdrawl(4500)

True

In [39]:
Nirmala.check_balance()

20500

In [40]:
Nirmala.withdrawl(21000)

False

In [41]:
Nirmala.check_balance()

20500

In [42]:
Nirmala._bank_account__balance

20500

In [ ]:
#inheritance

In [ ]:
#abstr